*{
    margin: 0;
    padding: 0;
}

body{
    background: #12121212;
}

nav{
    background: #6200EE;
    border: 1px solid '#fffff'; 
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    height: 120px;
}


menu a{
    color: white;
    font-size: 30px;
    float: left;
    margin: 30px 0px 0px 80px;
}
menu h1{
    font-family: Poppins;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    color: white;
    text-align: left;
    padding: 30px 0px 0px  600px;
}
.slide-3{
    display: flex;
    justify-content:space-evenly;
    
}
.course-col-2{
    background: #ffffff;
    width: 400px;
    height: 60px;
    padding-top: 20px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 30px;

}
.course-col-2 p1{
    font-size: 15px;
    font-weight: 100;
    font-family: 'poppins';
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 40px 0px 30px 20px;
    color: rgb(0, 0, 0);
}

.icon p2{
    color: #6200EE;
    padding-left: 60px;
    font-size: 10px;
}
.event p3{
    padding-left: 20px;
    font-size: 24px;
}
h3{
    font-size: 24px;
    float: left;
    color: #6200EE;
    margin: 30px 0px 0px 80px; 
}
h2{
    font-size: 24px;
    float: right;
    color: #6200EE;
    margin: 30px 80px 0px 0px; 
}
.btn{
    font-size: 20px;
    font-family: 'poppins';
    font-weight: 100;
    width: 350px;
    background: #6200EE;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    float: left;
    margin-left: 380px;
    margin-top: 100px;
}
@media(max-width: 500px){
    menu a{
        color: white;
        font-size: 30px;
        float: left;
        margin: 30px 0px 0px 80px;
    }
    menu h1{
        font-family: Poppins;
        font-size: 20px;
        font-weight: 200;
        line-height: 30px;
        letter-spacing: 0em;
        color: white;
        text-align: left;
        padding: 30px 0px 0px  200px;
    }
    .slide-3{
        display: flex;
        flex-direction: column;
        
    }
}